/*flash*/
.alert-error {
    background-color: #F6416C;
    color: rgb(44, 44, 44);
    text-align: left;
 }

.alert-alert {
    background-color: #FFDE7D;
    color: rgb(31, 31, 31);
    text-align: left;
 }

.alert-success {
    background-color: #00B8A9;
    color: rgb(44, 44, 44);
    text-align: left;
 }

.alert-notice {
    background-color: #F8F3D4;
    color: rgb(44, 44, 44);
    text-align: left;
 }