<p>Salut <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Ceci est une confirmation que ton adresse mail est en train d'être changé avec l'adresse suivante : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Ceci est une confirmation que ton adresse mail a été changé par l'adresse suivante : <%= @resource.email %>.</p>
<% end %>
