<p>Salut <%= @resource.email %>!</p>

<p>On a reçu une demande de réinitialisation de mot de passe. Vous pouvez le faire avec le lien ci-dessous</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si cette demande ne vient pas de vous, veillez ignorer ce message.</p>
<p>Votre mot de passe ne changera pas tant que le lien ci dessus ne sera pas activer et le nouveau mot de passe renseigné.</p>
